:root {
  --text-label: 400 0.75rem Inter;
  --text-table: 500 0.875rem Inter;
  --light-weight: 400;
  --medium-weight: 600;
  --heavy-weight: 700;
  --text-label-color: rgba(0, 0, 0, 0.6);
  --anti-text-color: #ffffff;
  --main-bg-color: #f2f2fe;
  --neutral300: #d4d4d4;
  --main-text-color: #222832;
  --main-brand-color: #4444ef;
  --light-brand-color: #cacafe;
  --success-color-bg: #a2d6a2;
  --failure-color-bg: #fabcbb;
  --success-color-main: #129700;
  --failure-color-main: #f44e4c;
  --input-border: rgba(0, 0, 0, 0.23);
  --border: 1px solid var(--divider, rgba(0, 0, 0, 0.12));
  --border-radius: 0.25rem;
  --image-radius: 6.25rem;
  --box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --text-shadow: 0px 1px 0.33px rgba(0, 0, 0, 0.2),
    0px 0.66px 0.66px rgba(0, 0, 0, 0.14), 0px 0.33px 1.66px rgba(0, 0, 0, 0.12);
  --progress-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.5),
    -1px 1px 1.5px rgba(0, 0, 0, 0.5), -1px -1px 1.5px rgba(0, 0, 0, 0.5),
    1px -1px 1.5px rgba(0, 0, 0, 0.5), 1px 0px 1.5px rgba(0, 0, 0, 0.5),
    -1px 0px 1.5px rgba(0, 0, 0, 0.5), 0px 1px 1.5px rgba(0, 0, 0, 0.5),
    0px -1px 1.5px rgba(0, 0, 0, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  font-style: normal;
  text-decoration: none;
  color: var(--main-text-color);
  z-index: 1;
}

a:hover {
  color: var(--main-brand-color);
}

button {
  background: none;
  border: none;
  margin: 0;
}

.formButton:hover {
  cursor: pointer;
}

.tableButton:hover,.innerTableButton:hover {
  cursor: pointer;
  color: var(--main-brand-color);
}

.tableButton {
  font: var(--text-table);
  font-weight: 600;
  width: 100%;
  height: 100%;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
}

.innerTableButton {
  font: var(--text-table);
  font-weight: 500;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0;
}

th {
  white-space: nowrap;
}

th,
td {
  font: var(--text-table);
  text-align: left;
  border-radius: var(--border-radius);
  border-bottom: var(--border);
}

td {
  padding: 1rem;
}

th,
th * {
  font: var(--text-table);
  background-color: var(--light-brand-color);
  font-weight: var(--medium-weight);
}

th > a {
  display: inline-block;
  width: 100%;
}

.th_active {
  background-color: var(--main-brand-color);
  color: var(--anti-text-color);
}

td > a {
  font: var(--text-table);
  color: var(--main-brand-color);
}

html {
  background-color: var(--main-bg-color);
  font-size: 16px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

h3 {
  display: inline-block;
  width: 100%;
}

h3,
h4,
h5 {
  font-weight: var(--heavy-weight);
}

.header_popup {
  margin-right: auto;
  width: 100%;
}

.active {
  color: var(--main-brand-color);
}

.positive {
  color: var(--success-color-main);
}

.negative {
  color: var(--failure-color-main);
}

.popupFooter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0;
}

.popupFooter > * {
  font: var(--text-table);
  font-weight: var(--medium-weight);
}

.popupContainer {
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
  backdrop-filter: blur(5px);
  left: 0px;
  top: 0px;
  z-index: 20;
}

.imageLogo {
  width: auto;
  height: 1.7rem;
  margin: 0.1rem 1rem -0.125rem 1rem;
}
.imageLogin {
  background-color: var(--light-brand-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--neutral300);
  border-bottom: 0;
  box-shadow: var(--box-shadow);
}

.imageProject {
  background-color: var(--neutral300);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: var(--border-radius);
}

.frameImageProject {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral300);
  border-radius: var(--image-radius);
  width: 2.5rem;
  height: 2.5rem;
}

.navigation {
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--neutral300);
  padding: 1rem 0rem;
  margin: 0rem 1.25rem;
  justify-content: space-between;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: var(--main-bg-color);
  z-index: 10;
}

.footer {
  display: flex;
  width: auto;
  flex-direction: row;
  align-items: center;
  padding: 1rem 0rem;
  margin: 0rem 1.25rem;
  justify-content: center;
  border-top: 1px solid var(--neutral300);
}

.navigation * {
  font-weight: var(--heavy-weight);
}

.toolbar {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  align-items: center;
  justify-content: center;
}

.toolbar_popup {
  padding: 0;
}

.popup_button {
  display: flex;
  width: 31px;
  height: 31px;
}

.navigation_center {
  display: flex;
  flex-direction: row;
}

.menuItem {
  display: inline-flex;
  margin: 0.1rem 1rem 0rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.buttonProject {
  height: 2.25rem;
  width: fit-content;
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 0 0.6rem;
  color: var(--anti-text-color);
  background-color: var(--main-brand-color);
  white-space: nowrap;
  font-weight: var(--medium-weight);
  margin-left: auto;
}

.container_a {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem 1.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--neutral300);
  border-bottom: 0;
  box-shadow: var(--box-shadow);
  margin: 1rem auto 1rem auto;
  padding: 1rem 1rem 2rem 1rem;
  width: 95%;
  min-width: 40rem;
  background-color: var(--anti-text-color);
}

.container_projectCard {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  border: 1px solid var(--neutral300);
  border-bottom: 0;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  width: 95%;
  background-color: var(--main-bg-color);
  overflow-x: auto;
}

.container_sub {
  display: flex;
  flex-direction: row;
  border-radius: var(--border-radius);
  border: 1px solid var(--neutral300);
  border-bottom: 0;
  box-shadow: var(--box-shadow);
  padding: 1rem 1rem 0.5rem 1rem;
  width: 95%;
  background-color: var(--main-bg-color);
}

.container_popup {
  width: fit-content;
  height: fit-content;
  justify-content: center;
  padding: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  width: 100%;
}

.centered {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.cardTitle {
  margin-left: 0.5rem;
}

.projectStatus {
  display: flex;
  flex-flow: column;
  margin: 1rem 0.5rem 0rem 0.5rem;
  align-items: center;
}

.progressBar_blank {
  margin: 0.5rem 0rem;
  height: 1.925rem;
  width: 100%;
  background-color: var(--light-brand-color);
  border-radius: var(--border-radius);
  border: 1px solid var(--neutral300);
  border-bottom: 0;
  box-shadow: var(--box-shadow);
  position: relative;
  z-index: 1;
}

.progressBar_filled {
  height: 100%;
  background-color: var(--main-brand-color);
  border-radius: var(--border-radius);
  border-right: 1px solid var(--input-border);
  position: relative;
  z-index: 2;
}

.progressBar_text {
  color: var(--anti-text-color);
  text-align: left;
  padding: 0.3rem 0.3rem;
  white-space: nowrap;
  text-shadow: var(--progress-shadow);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
}

.progress_inTable {
  font: var(--text-table);
  height: 1.15rem;
  margin: 0;
  padding: 0rem;
}

.scheduleOk_bg {
  background-color: var(--success-color-bg);
}
.scheduleOk_main {
  background-color: var(--success-color-main);
  width: 10%;
}
.scheduleBad_bg {
  background-color: var(--failure-color-bg);
}
.scheduleBad_main {
  background-color: var(--failure-color-main);
  width: 90%;
}

.width0 {
  width: 0%;
}

.width85 {
  width: 85%;
}

.width95 {
  width: 95%;
}
.width100 {
  width: 100%;
}

.inputField {
  display: flex;
  position: relative;
  margin-bottom: 0.75rem;
}

.hidden {
  display: none;
}

.left {
  transform: translateX(-200%);
}

.right {
  transform: translateX(200%);
}

.invisible {
  visibility: hidden;
  opacity: 0;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.transition {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

#dataForm:last-child {
  margin-bottom: 2rem;
}

.inputField_search {
  width: 18.75rem;
}

.inputField_status {
  width: 11.25rem;
}

.inputBox {
  border-radius: var(--border-radius);
  border: 1px solid var(--input-border);
  padding: 1rem 0.75rem;
  font-weight: var(--light-weight);
  width: 100%;
  background-color: var(--anti-text-color);
}

.inputBox_selector {
  background-image: url(./images/ArrowDropDownFilled.svg);
  background-size: 25px 24px;
  background-position: right 0.85rem top 50%;
  background-repeat: no-repeat;
  appearance: none;
}

/* .inputBox_calender {
  background-image: url(./images/calender.svg);
  background-size: 16px 16px;
  background-position: right 0.75rem top 50%;
  background-repeat: no-repeat;
} */

.labelInput {
  font: var(--text-label);
  color: var(--text-label-color);
  background-color: var(--main-bg-color);
  position: absolute;
  top: -0.38rem;
  left: 0.75rem;
  height: 0.45rem;
  padding: 0rem 0.2rem;
}

.lastItem {
  margin-bottom: 2rem;
}

/* 
.downArrow {
  width: 24px;
  height: 25px;
  fill: none;
  position: absolute;
  top: 50%;
  right: 0.75rem;
  transform: translateY(-50%);
}
*/
